{% extends 'base.html' %}
{% load static %}

{% block content %}
        <main class="main">
            <div class="page-header text-center" style="background-image: url({% static 'assets/images/page-header-bg.jpg' %})">
                <div class="container">
                    <h1 class="page-title">My Account<span>Welcome {{ user.username }}</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>

                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'sign-out' %}">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                        <p>Hello <span class="font-weight-normal text-dark">{{ user.username }}</span> (not <span class="font-weight-normal text-dark">{{ user.username }}</span>? <a href="{% url 'sign-out' %}">Log out</a>)
                                        <br>
                                        From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                        {% if not orders %}
                                            <p>No order has been made yet.</p>
                                        {% else %}

                                        <div class="col-lg-12">

                                            <table class="table table-cart table-mobile">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>Order_id</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for order_item in order_items %}
                                                    <tr>
                                                        <td class="product-col">
                                                            <div class="product">
                                                                <figure class="product-media">
                                                                    <a href="{% url 'products' order_item.product.get_url %}">
                                                                        <img src="{{ order_item.product.display_image }}" alt="{{ order_item.product }}">
                                                                    </a>
                                                                </figure>

                                                                <h3 class="product-title">
                                                                    <a href="{% url 'products' order_item.product.get_url %}">{{ order_item.product }}</a>
                                                                </h3><!-- End .product-title -->
                                                            </div><!-- End .product -->
                                                        </td>
                                                        <td class="price-col">ksh {{ order_item.unit_price }}</td>
                                                        <td class="price-col">{{ order_item.quantity }}</td>
                                                        <td class="price-col">ksh {{ order_item.total_price }}</td>
                                                        <td class="total-col">{{ order_item.order.status }}</td>
                                                        <td class="total-col">{{ order_item.order.id }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table><!-- End .table table-wishlist -->
                                        </div><!-- End .col-lg-9 -->

                                        {% endif %}
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                        <p>The following addresses will be used on the checkout page by default.</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                                        <p>{{ billing_address.firstname }} {{ billing_address.lastname }}<br>
                                                        {{ billing_address.town }}, {{ billing_address.county }}<br>
                                                        {{ billing_address.postcode }}<br>
                                                        {{ billing_address.phone }}<br>
                                                        {{ billing_address.email }}<br>

                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->

                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Edit Billing Address</h3>

                                                        <form action="{% url 'edit-billing-address' %}" method="post">
                                                        {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label>First Name *</label>
                                                                    <input type="text" class="form-control" name="firstname" required>
                                                                </div><!-- End .col-sm-6 -->

                                                                <div class="col-sm-6">
                                                                    <label>Last Name *</label>
                                                                    <input type="text" class="form-control" name="lastname" required>
                                                                </div><!-- End .col-sm-6 -->
                                                            </div><!-- End .row -->

                                                            <label>Email address *</label>
                                                            <input type="email" class="form-control" name="email" required>

                                                            <label>Postcode *</label>
                                                            <input type="text" class="form-control" name="postcode" required>

                                                            <label>County</label>
                                                            <input type="text" class="form-control" name="county">

                                                            <label>Town</label>
                                                            <input type="text" class="form-control" name="town">

                                                            <label>Phone</label>
                                                            <input type="text" class="form-control mb-2" name="phone" >

                                                            <button type="submit" class="btn btn-outline-primary-2">
                                                                <span>SAVE CHANGES</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End .row -->
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                        <form action="{% url 'edit-account-details' %}" method="post">
                                            {% csrf_token %}

                                            <label>Email address *</label>
                                            <input type="email" class="form-control" name="email">

                                            <label>Current password (leave blank to leave unchanged)</label>
                                            <input type="password" class="form-control" name="current-password">

                                            <label>New password (leave blank to leave unchanged)</label>
                                            <input type="password" class="form-control" name="new-password">

                                            <label>Confirm new password</label>
                                            <input type="password" class="form-control mb-2" name="new-password1">

                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}