{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/nav.html' %}
        <main class="main">
            <div class="page-header text-center" style="background-image: url({% static 'assets/images/page-header-bg.jpg' %})">
                <div class="container">
                    <h1 class="page-title">
                            {% if products %}
                                Results for {{ query }}
                            {% else %}
                                No results for {{ query }}
                            {% endif %}
                        <span>Search</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">search</a></li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="products">
                        <div class="row">
                            {% for product in products %}
                                {% include 'partials/product-card.html' %}
                            {% endfor %}
                        </div><!-- End .row -->

{#                        <div>#}
{#                            {% include 'partials/pagination.html' %}#}
{#                        </div>#}

                    </div><!-- End .products -->

                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}